<!-- Add these links to include SweetAlert2 CSS and JS in your HTML file -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10"> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only" >Loading...</span>
  </div>
</div>

<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->

  <!-- NAVBAR -->
  <header class="site-navbar mt-3">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="site-logo col-6"><a href="{% url 'jobapp:home' %}">Remote Job Finder</a></div>
        <nav class="mx-auto site-navigation">
          <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
            <li><a href="{% url 'jobapp:home' %}" class="nav-link">Home</a></li>
            <li><a href="{% url 'jobapp:about_us' %}">About</a></li>
            <li><a href="{% url 'jobapp:job-list' %}">Job Listings</a></li>
            <li><a href="{% url 'jobapp:contact_us' %}">Contact</a></li>
          </ul>
        </nav>
        <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
          <div class="ml-auto">
            <div class="site-navigation fix">
              <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">

                {% if user.is_authenticated and user.role == 'employer'  %}
                <a href="{% url 'jobapp:create-job' %}"
                  class="js-clone-nav pr-3 btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span
                    class="mr-2 icon-add"></span>Publish Job</a>

                <li class="pr-3 has-children">
                  <a>Dashboard</a> 
                  <ul class="dropdown">
                    <li><a>Vendor: {{ user.first_name }}</a></li> 
                    <li><a href="{% url 'jobapp:dashboard' %}">My Jobs</a></li>
                    <li><a href="{% url 'account:change_password' %}">Change Password</a></li>
                    <li><a href="#" onclick="showLogoutAlert()">Logout</a></li>
                  </ul>
                </li>

                {% elif user.is_authenticated %}

                <li class="pr-3 has-children">
                  <a>{{ user.first_name }} {{ user.last_name }}</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'account:edit-profile' request.user.id %}">Edit Profile</a></li>
                  </ul>
                </li>

                <li class="pr-3 has-children">
                  <a>Dashboard</a> 
                  <ul class="dropdown">
                    <!-- <li><a>Welcome {{ user.first_name }} {{ user.last_name }}...!!!</a></li> -->
                    <li><a href="{% url 'jobapp:dashboard' %}">JobBoard</a></li>
                    <li><a href="{% url 'account:change_password' %}">Change Password</a></li>
                    <li><a href="#" onclick="showLogoutAlert()">Logout</a></li>
                  </ul>
                </li>
                {% else %}

                <li class="pr-3 has-children">
                  <a>Register</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'account:employer-registration' %}">Vendor</a></li>
                    <li><a href="{% url 'account:employee-registration' %}">Employee</a></li>
                  </ul>
                </li>

                <a href="{% url 'account:login' %}"
                  class="js-clone-nav btn btn-primary border-width-2 d-none d-lg-inline-block ov-fix"><span
                    class="mr-2 icon-lock_outline"></span>Log In</a>
                {% endif %}
              </ul>
            </div>

            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
              class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Add this script at the end of your HTML file or in a separate script file -->
  <!-- <script>
    function showLogoutAlert() {
      Swal.fire({
        title: 'Logout Confirmation',
        text: 'Are you sure you want to log out?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, log me out!'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "{% url 'account:logout' %}";
        }
      });
    }

  </script> -->

<script>
  function showLogoutAlert() {
    Swal.fire({
      title: 'Logout Confirmation',
      text: 'Are you sure you want to log out?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, log me out!'
    }).then((result) => {
      if (result.isConfirmed) {
        // Trigger a success toast before redirecting
        showToast('success', 'Logout Successful!', 'You have been successfully logged out.');

        // Simulate a delay for the user to see the toast
        setTimeout(function() {
          window.location.href = "{% url 'account:logout' %}";
        }, 2000); // Adjust the delay time as needed
      }
    });
  }

  function showToast(icon, title, text) {
    // Display a Toast notification
    Swal.fire({
      icon: icon,
      title: title,
      text: text,
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000 // Adjust the timer duration as needed
    });
  }
</script>

