{% load static %} 
    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/580e28b45d.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/stickyfill.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script> 
 
    <script src="{% static 'js/custom.js' %}"></script> 
    <script>
        function togglePassword(fieldId, eyeIconId) {
      var eyeIcon = document.getElementById(eyeIconId);
  
      // Check the current icon class
      var isEye = eyeIcon.classList.contains('fa-eye');
      
      const passwordField = document.getElementById(fieldId);
      const fieldType = isEye ? 'text' : 'password';
      passwordField.type = fieldType;
      
      // Toggle the eye icon classes
      eyeIcon.classList.toggle('fa-eye', !isEye);
      eyeIcon.classList.toggle('fa-eye-slash', isEye);
    }
      </script>