{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .camera-icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    font-size: 24px;
    color: #551162; /* Change color as needed */
  }
</style>
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/bgrr.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Update Profile</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Update Profile</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">

        <h2 class="mb-4 text-center">Update Profile</h2>
        {% include 'messages.html' %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data" class="p-4 border rounded" style="background-color: #ffffff; position: relative;">
          <div style="position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); z-index: -1;"></div>
          <div style="position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); z-index: -2;"></div>
          
          <div class="col-lg-12" style="background-color: #ffffff; position: relative;">
            <div style="position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); z-index: -1;"></div>
            <div style="position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); z-index: -2;"></div>
            {% csrf_token %}
            <div style="position: relative;">
              <span class="text-primary d-block mb-6" style="text-align: center; object-fit: cover; position: relative;">
                <img src="{{ form.instance.photo.url }}" alt="Profile Picture" style="border-radius: 50%; object-fit: cover;" width="300" height="300">
                <!-- Camera icon to trigger file input -->
                <i class="fas fa-camera-retro camera-icon" id="cameraIcon"></i>
                <i class=></i>
              </span>
            </div>
                
            {% for field in form %}
            {% if field.name == 'gender' %}
            <div class="row form-group mb-4">
              <div class="col-md-12 mb-3 mb-md-0">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="male gender" value="M"
                    {% if field.value == 'M' %} checked {% endif %}>
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="F"
                    {% if field.value == 'F' %} checked {% endif %}>
                  <label class="form-check-label" for="female">Female</label>
                </div>
              </div>
            </div>

            {% else %}

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                  id="id_{{ field.name }}" value="{{ field.value }}"
                  placeholder="{{ field.field.widget.attrs.placeholder }}">
              </div>
            </div>
            {% if field.name == 'pdf_document' %}
                      
                                    <div class="input-group-append">
                                      <a href="{{ user.pdf_document.url }}" target="_blank" class="btn btn-outline-secondary text-black">
                                  <i class="fa fa-eye"></i> 
                              </a>
                                    </div>
                            
                        
                        {% endif %}

            {% endif %}
            {% endfor %}
            <div class="row form-group">
              <div class="col-md-6 mb-3">
          
                
                      
                
            </div>
              <div class="col-md-12">
                <input type="submit" value="Update" class="btn px-4 btn-primary text-white">
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
<script>
  // JavaScript to trigger file input when camera icon is clicked
  document.getElementById('cameraIcon').addEventListener('click', function() {
    // Assuming your file input has the id 'id_photo'
    document.getElementById('id_photo').click();
  });
</script>

{% endblock %}