{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .camera-icon {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    color: #59595c; /* Change color as needed */
  }
</style>
<!-- HOME -->
<section class="section-hero overlay inner-page bg-image"
  style="background-image: url('{% static 'images/bgrr.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white font-weight-bold">Update Profile</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Update Profile</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">

        
        {% include 'messages.html' %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data" class="p-4 border rounded" style="background-color: #ffffff; position: relative;">
          <!-- <div style="position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); z-index: -1;"></div>
          <div style="position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); z-index: -2;"></div>
           -->
          <div class="col-lg-12" style="background-color: #ffffff; position: relative;">
            <div style="position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); z-index: -1;"></div>
            <div style="position: absolute; top: -10px; left: -10px; right: -10px; bottom: -10px; box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1); z-index: -2;"></div>
            <h2 class="mb-4 text-center">Update Profile</h2>
            {% csrf_token %}
            <div style="position: relative; width: 300px; height: 300px; border: 3px solid #ccc; border-radius: 10px; overflow: hidden; margin: auto;">
              <div style="text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%;">
                
               <a href="{{form.instance.photo.url}}" > <img id="profileImage"  src="{{ form.instance.photo.url }}" alt="Profile Picture" style="border-radius: 50%; object-fit: cover; width: 100%; height: 100%;">
               </a>
                <!-- Camera icon to trigger file input -->
                  <i class="fas fa-camera camera-icon" id="cameraIcon" style="position: absolute;  transform: translate(-50%, -50%);"></i>
              </div>
          </div>         
          <!-- <div>{{user.photo.url}}</div> -->
            {% for field in form %}
            
            {% if field.name == 'gender' %}
            <div class="row form-group mb-4">
              <div class="col-md-12 mb-3 mb-md-0">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="male gender" value="M"
                    {% if field.value == 'M' %} checked {% endif %}>
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="F"
                    {% if field.value == 'F' %} checked {% endif %}>
                  <label class="form-check-label" for="female">Female</label>
                </div>
              </div>
            </div>
          
            {% else %}
            
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="text-black" for="id_{{ field.name }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
                  id="id_{{ field.name }}" value="{{ field.value }}"
                  placeholder="{{ field.field.widget.attrs.placeholder }}">
                  
              </div>
            </div>

            
            {% if field.name == 'pdf_document' %}
                      
              <div class="input-group-append">
                <a href="{{ user.pdf_document.url }}" target="_blank" class="btn btn-outline-secondary text-black">
                <i class="fa fa-eye"></i> View PDF (Existing) 
                </a>
               </div>
                            
                        
            {% endif %}

            {% endif %}
            {% endfor %}
            <div class="row form-group">
              <div class="col-md-6 mb-3">
          
                
                      
                
            </div>
              <div class="col-md-12">
                <input type="submit" value="Update" class="btn px-4 btn-primary text-white">
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

<script>
  // JavaScript to trigger file input when camera icon is clicked
  document.getElementById('cameraIcon').addEventListener('click', function() {
    // Assuming your file input has the id 'id_photo'
    document.getElementById('id_photo').click();
  });

  // JavaScript to handle file input change event
  document.getElementById('id_photo').addEventListener('change', function(event) {
    // Assuming your image has the id 'profileImage'
    var imageElement = document.getElementById('profileImage');

    // Check if a file is selected
    if (event.target.files.length > 0) {
      // Update the image source with the selected file
      var newImage = URL.createObjectURL(event.target.files[0]);
      imageElement.src = newImage;
    }
  });
</script>




{% endblock %}