{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    input[type="email"]
    {
        width: 80%; 
    
    }
</style>
<section class="home-section section-hero inner-page overlay bg-image"
             style="background-image: url('{% static 'images/bgrr.jpg' %}');" id="home-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center">
                        <h1 class="text-white font-weight-bold">Forgot Your Password</h1>
                        <p>Find your dream jobs on our powerful career website.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- <h1>Forgotten your password?</h1> -->
<!-- <p>Enter your e-mail address to obtain a new password.</p> -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Forgot your password?</h2>
            <p>Enter your e-mail address to obtain a new password.</p>
            <form action="." method="post">
                <div class="form-group">
                    <label class="text-black"> {{ form.email.label_tag }}</label>
                    <div class="input-group">
                        {{ form.email }}
                    </div>
                </div>
        
            
                <div class="form-group">
                    <p><input type="submit" class="btn btn-primary mb-3" value="Send E-mail"></p>
                </div>
                {% csrf_token %}
            </form>
            
        </div>
    </div>
</div>

{% endblock %}
