{% load i18n %}
{% load static %}

{% autoescape off %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Status</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;">

    <div style="background-color: #f5f5f5; padding: 20px; text-align: center;">

        <img src="https://i.ibb.co/wB7FVYG/remote-job-finder-high-resolution-logo-transparent.png" style="width: 80%; height: 180px;  object-fit: fill; position: relative; z-index: 1;" alt="Image" class="img-fluid">


        <!-- Job Application Status Content -->
        <p align="justify">
            Dear {{ mero_name }}, <br> 
            {% if buttonType == 'select' %}
                <span style="color: rgb(7, 255, 28);">Congratulations!</span> You have been selected for further consideration for the position of {{ position }} at our company: {{ company_name }}. We are impressed with your qualifications and look forward to discussing your application in more detail.
                <p>Details about the next steps in our hiring process will be provided in a follow-up email. We appreciate your interest in our company and look forward to getting to know you better.</p>
            {% else %}
                Thank you for your interest in the position of {{ position }} at our company: {{ company_name }}. After careful consideration, we <span style="color: rgb(248, 3, 3); font-weight: bolder;">regret</span> to inform you that we have decided to proceed with other candidates who more closely match the requirements for the position.
                <p>We appreciate the time you invested in applying for this position and wish you the best of luck in your future endeavors.</p>
            {% endif %}
        </p>
        <!-- Regards Section -->
    <div style="margin-top: 20px; text-align: left; padding: 20px; color: #333333;">
        <p>Regards,<br>Remote Job Finder
        <br>Bhaktapur, Nepal<br>9868204063</p>
    </div>

    </div>

    <!-- Footer Section -->
    <div style=" text-align: center; background-color: #333333; padding: 10px; color: white;">
        <p style="margin: 0;">Copyright&copy; 2023, Remote Job Finder. All Rights Reserved.</p>
    </div>

    

</body>

</html>

{% endautoescape %}
