{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/bgrr.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">Courses</h1>
        <div class="custom-breadcrumbs">
          <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
          <span class="text-white"><strong>Courses</strong></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ajax_listing_paginattion" class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">
    <form method="GET" action="{% url 'jobapp:courses' %}">
      <div class="input-group mb-5">
        <input type="text" class="form-control mr-3" id="searchInput" name="search" placeholder="Search for a course" value="{{ search_query }}">
        <div class="">
          <button class="btn btn-primary" type="submit">
            <span class="icon-search icon mr-2"></span>Search Courses
          </button>
        </div>
      </div>
    </form>

    <div class="row">
      {% for course in page_obj %}
        {% if forloop.counter0|divisibleby:2 %}
          <div class="w-100"></div>
        {% endif %} 
        <!-- <div class="col-6 col-md-6 col-lg-6 mb-4 mb-lg-5" data-toggle="modal" data-target="#courseModal{{ course.id }}"> -->
            <div class="col-6 col-md-6 col-lg-6 mb-4 mb-lg-5" >
          <a href="{% url 'jobapp:single-course' course.id %}" class="block__16443 min-h text-center d-block">
            {% if course.image %}
              <img src="{{ course.image.url }}" alt="Course Image" style="width: 150px; height: 150px; object-fit: fill; border-radius: 50%;">
            {% else %}
              <img src="{% static 'images/ii.jpg' %}" alt="Default Icon" style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
            {% endif %}
            <h3>{{ course.name }}</h3>
            <ul class="job-listing-meta list-unstyled pl-3 mb-0">
              <li class="menu-fix mb-2">
                {% if course.tag == 'free' %}
                  <span class="badge badge-success">
                    Free Course
                  </span>
                {% elif course.tag == 'paid'%}
                  <span class="badge badge-danger">
                    Paid Course
                  </span>
                {% else  %}
                  <span class="badge badge-info">
                    None
                  </span>
                {% endif %}
              </li>
            </ul>
            <p>{{ course.description | safe | truncatechars:250}}</p>
          </a>
        </div>

  
      {% endfor %}

      {% if no_results %}
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">          
              <h2 align="center"> No Result Found..!!! </h2>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    {% include 'jobapp/paginator.html' %}
  </div>
</section>

{% endblock content %}
