{% extends 'base.html' %}
{% load static %}
{% load get_total_applicant %}
{% block content %}

<section class="section-hero overlay inner-page bg-image"
    style="background-image: url('{% static 'images/bgrr.jpg' %}');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Dashboard</h1>
                <div class="custom-breadcrumbs">
                    <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
                    <a href="{% url 'jobapp:job-list' %}">Job</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Dashboard</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5">
                {% include 'messages.html' %}

                <div class="card">
                    {% if user.role == "employer" %}
                    <h5 class="card-header text-center">My All Job</h5>
                    {% if jobs %}
                    <table class="table text-center mt-5">
                        
                        <thead class="thead-dark">
                            <tr>
                                <th>Job Title</th>
                                <th>Posted Date</th>
                                <th>Date expiring</th>
                                <th>Status</th>
                                <th>Applicants</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            <tr id="row_{{ job.id }}">
                                <td class="text-left"><a href="{% url 'jobapp:single-job' job.id %}">{{ job.title }}</a></td>
                                <td>{{ job.timestamp | date:'M d, Y'  }}</td>
                                <td>{{ job.last_date | date:'M d, Y' }}</td>
                                <td>
                                    {% if job.is_published == True %}
                                
                                        <span class="badge badge-info">Published</span>
                                
                                    {% else %}

                                        <span class="badge badge-danger px-2">Pending</span>

                                    {% endif %}
                                
                                </td>

                                <td>

                                    {% get_total_applicant total_applicants job as is_applicant %}

                                    {% if is_applicant %}
                                    <a href="{% url 'jobapp:applicants' job.id %}">
                                        <i class="fa fa-users"></i>
                                        <span class="badge badge-success text-white">

                                       
                                            {% if is_applicant > 1 %}


                                            {% get_total_applicant total_applicants job %} Applicants

                                            {% else %}

                                            {% get_total_applicant total_applicants job %} Applicant

                                            {% endif %}

                                        </span>
                                        
                                    </a>
                                    {% endif %}

                                </td>
                                <td>
                                    <a class="btn btn-info btn-sm" href="{% url 'jobapp:edit-job' job.id %}"
                                        role="button">Edit</a>
                                    {% if job.is_published == True %}
                                        {% if job.is_closed == False %}
                                        <span id="change_job_status_{{ job.id }}">
                                            <button onclick="call_sw_alert_func('{% url 'jobapp:complete' job.id %}','{{ job.id }}', 'Once Clicked, Your Post Will Marked Completed')" class="text-white btn btn-success btn-sm" >Make Close</button>
                                        </span>
                                        {% else %}
                                        <a class="text-white btn btn-success btn-sm" 
                                        role="button">Closed</a>                                    
                                        {% endif %}
                                        {% endif %}
                                    <button onclick="call_sw_alert_func('{% url 'jobapp:delete' job.id %}','{{ job.id }}','Once Deleted, You Will Not be Able To Recover This Post!')" class="btn btn-danger btn-sm">Delete</button>
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="m-5">You have not any job yet !! <a href="{% url 'jobapp:create-job' %}">Create a new one.</a></p>
                    {% endif %}
                    {% elif user.role == "employee" %}


                    <!-- Add this to the relevant section of your HTML document -->

                    <ul class="mb-3 nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bookmarked Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Applied Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="course-tab" data-toggle="tab" href="#course" role="tab" aria-controls="course" aria-selected="false">Courses</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <!-- Bookmarked Jobs content -->
                            <h5 class="card-header text-center">Bookmarked Posts</h5>
                            {% if savedjobs %}
                                <table class="table text-center mt-5">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Job Title</th>
                                            <th>Posted Date</th>
                                            <th>Date expiring</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for job in savedjobs %}
                                            <tr id="row_{{ job.id }}">
                                                <td><a href="{% url 'jobapp:single-job' job.job.id %}">{{ job.job.title }}</a></td>
                                                <td>{{ job.timestamp | date:'M d, Y' }}</td>
                                                <td>{{ job.job.last_date | date:'M d, Y' }}</td>
                                                <td>
                                                    <button onclick="call_sw_alert_func('{% url 'jobapp:delete-bookmark' job.id %}','{{ job.id }}','Once Deleted, This Post Will Remove From Your Favourite List!')" class="btn btn-danger btn-sm">Delete</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="m-5">You have not any save job yet !! </p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <!-- Applied Jobs content -->
                            <h5 class="card-header text-center">Applied Posts</h5>
                            {% if appliedjobs %}
                                <table class="table text-center mt-5">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Job Title</th>
                                            <th>Posted Date</th>
                                            <th>Date expiring</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for job in appliedjobs %}
                                            <tr id="row_{{ job.id }}">
                                                <td><a href="{% url 'jobapp:single-job' job.job.id %}">{{ job.job.title }}</a></td>
                                                <td>{{ job.timestamp | date:'M d, Y' }}</td>
                                                <td>{{ job.job.last_date | date:'M d, Y' }}</td>
                                                <td>
                                                    {% if job.status == "Selected" %}
                                                        <span class="badge badge-success">Selected</span>
                                                    {% elif job.status == "Rejected" %}
                                                        <span class="badge badge-danger px-2">Rejected</span>
                                                    {% else %}
                                                        <span class="badge badge-info px-2">In-Progress</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="m-5">You have not any applied job yet !! </p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="course" role="tabpanel" aria-labelledby="course-tab">
                            <!-- My Courses content -->
                            <h5 class="card-header text-center">My Courses</h5>
                            {% if appliedcourses %}
                                <table class="table text-center mt-5">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Course Title</th>
                                            <th>Room Id</th>
                                            <th>Time</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for course in appliedcourses %}
                                            <tr id="row_{{ course.id }}">
                                                <td><a href="{% url 'jobapp:single-course' course.course.id %}">{{ course.course.name }}</a></td>
                                                <td> 
                                                    {% if course.roomid == '' %}
                                                    <button class="btn  btn-sm" onclick="showPopup('{{ course.roomid }}')">
                                                        <i class="fa-solid fa-commenting fa-xl" style="color: #062492;"></i> 
                                                    </button>
                                                {% else %}
                                                    <button class="btn  btn-sm" onclick="showPopup1('{{ course.roomid }}')">
                                                        <i class="fa-solid fa-commenting fa-xl" style="color: #062492;"></i> 
                                                        <sup style="font-size: 75%; font-family: fantasy; color: #e20505;">1</sup>
                                                    </button>
                                                {% endif %}
                                                

                                         </td>
                                                <td> <span class="badge badge-success">{{course.course.shift}}</span></td>
                                                <td>{% if course.roomid == '' %}
                                                    <button  disabled id="join"  class="btn btn-warning btn-sm" role="button">
                                                        Join Room
                                                    </button></a>
                                                    
                                                {% else %}
                                                <a  href="{% url 'jobapp:join_room' %}" target="_blank"><button id="join"  class="btn btn-info btn-sm" role="button">
                                                    Join Room
                                                </button></a>
                                                {% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="m-5">You have not any applied course yet !! </p>
                            {% endif %}
                        </div>
                    </div>


                    {% endif %}

                </div>
            </div>
        </div>

    </div>
    </div>
</section>
<!-- Popup with Bootstrap classes -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupLabel">Room Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="popupContent">
                <!-- Content dynamically filled via JavaScript -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/sweet-alert.js' %}"></script>
    <script src="{% static 'js/sweet-alert-ajax.js' %}"></script>
 

<script>
    function showPopup(roomId) {
        // Set the content of the popup with the room ID
        document.getElementById('popupContent').innerHTML = `<p>Dear participants,</p>
        <p align="justify">Please be informed that the room ID will be accessible for your review 15 minutes before the commencement of the class. Subsequently, it will be automatically removed 15 minutes after the class commences. Make sure to join the class promptly using the provided Room ID.</p> <p>Thank you!</p>`;

        // Display the popup using Bootstrap's modal class
        $('#popup').modal('show');
    }

    function showPopup1(roomId) {
        // Set the content of the popup with the room ID
        document.getElementById('popupContent').innerHTML = `
    <p>Dear participants,</p>
    <p align="justify">Please be reminded of the upcoming class, and your attendance is highly valued. The virtual class will be accessible using the provided Room ID: <span style="color: blue;">${roomId}</span>. This information will be available 15 minutes before the class and removed 15 minutes after it begins.</p>
    <p align="justify">We appreciate your commitment and look forward to your presence. Thank you!</p>
`;

        // Display the popup using Bootstrap's modal class
        $('#popup').modal('show');
    }
</script>
{% endblock %}


