{% load i18n %}
{% load static %}

{% autoescape off %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>

<body style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; color: #333;">

    <div style="background-color: #f5f5f5; padding: 20px; text-align: center;">

        <img src="https://i.ibb.co/wB7FVYG/remote-job-finder-high-resolution-logo-transparent.png" style="width: 80%; height: 180px;  object-fit: fill; position: relative; z-index: 1;" alt="Image" class="img-fluid">
        <p align="left">Hello {{ name }},</p>
        <!-- Job Application Status Content -->
        <p align="justify">
            Thank you for reaching out to Remote Job Finder! We appreciate your interest in our services. Your message has been received, and our team will get back to you as soon as possible. We strive to provide timely and valuable responses to all inquiries.
        </p>
        <!-- Regards Section -->
        <div style=" text-align: justify;  color: #333333;">
            <p>
                If your inquiry is urgent or requires immediate attention, please feel free to contact us directly at 9868204063. Otherwise, rest assured that we will carefully review your message and provide a thoughtful response.
            </p>
            <p>
                Regards,<br>Remote Job Finder<br>Bhaktapur, Nepal
            </p>
        </div>

    </div>

    <!-- Footer Section -->
    <div style=" text-align: center; background-color: #333333; padding: 10px; color: white;">
        <p style="margin: 0;">Copyright&copy; 2023, Remote Job Finder. All Rights Reserved.</p>
    </div>

</body>

</html>

{% endautoescape %}
